<h1>{{title}}</h1>
<a href="/deliveries/add" class="btn btn-primary">Add</a>
<table class="table table-stripped table-hover" id="delieveryTable">
    <thead>
        <th>Delivery ID</th>
        <th>Project ID</th>
        <th>Project Address</th>
        <th>Details</th>
        <th></th>
    </thead>
    <tbody>
        {{#each delieveryData}}
        <tr>
            <td>{{this.deliveryId}}</td>
            <td>{{this.projectId}}</td>
            <td>{{this.projectOwnerAddress.0.city}}</td>
            <td>
                <a href="/deliveries/details/{{this.deliveryId}}" class="btn btn-secondary btn-sm">Details</a>
                &nbsp;
                <a href="/deliveries/map/{{this.projectOwnerAddress.0.city}}" class="btn btn-info btn-sm">Map Location</a>
            </td>
            <td>
                <a href="/deliveries/edit/{{this._id}}" class="btn btn-info btn-sm">Update</a>
                &nbsp;
                <a href="/deliveries/delete/{{this._id}}" 
                onclick="return comfirmDeletion()" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>