<h1>{{title}}</h1>
&nbsp;
<h2>All Projects</h2>
<!-- Basic layout of the different Projects -->
<table class="table table-hover" id="accountingTable">
    <thead>
        <th>Project ID</th>
        <th>Project Name</th>
        <th>Current Cost</th>
        <th>Budget</th>
        <th>Over/Under</th>
        <th></th>
    </thead>
    <tbody>
        {{#each accountData}}
        <tr class="table-{{this.statusCost}}">
            <td>{{this.projectId}}</td>
            <td>{{this.projectname}}</td>
            <td>{{decimalNumber this.currenctCost}}</td>
            <td>{{decimalNumber this.budget}}</td>
            <td>{{decimalNumber this.difference}}</td>
            <td>
                {{buttonRemoverMaterials this}}
                <a href="accounts/delete/{{this._id}}" class="btn btn-danger">delete</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>